<!--<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>-->
<!--<%&#45;&#45;-->
<!--Created by IntelliJ IDEA.-->
<!--User: tomasz-->
<!--Date: 10.09.19-->
<!--Time: 13:13-->
<!--To change this template use File | Settings | File Templates.-->
<!--&#45;&#45;%>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<!--<%@page isELIgnored="false" %>-->
<!--<html>-->
<!--<head>-->
    <!--<title>editbook</title>-->
    <!--&lt;!&ndash;<link rel="stylesheet"  href="/views/css/form-style-6.css">&ndash;&gt;-->
<!--</head>-->

<!--<body>-->


<!--<div class="form-style-6" >-->
    <!--<h1>Zmodyfikuj książkę</h1>-->
    <!--<form action="/all-books" method="get">-->
        <!--<input type="text" name="title" value="${title}" placeholder="Title" />-->
        <!--<input type="text" name="author"  value="${author}" placeholder="Author" />-->
        <!--<input type="text" name="isbn"  value="${isbn}"  placeholder="Isbn">-->
        <!--<input type="submit" value="Wyślij" />-->
    <!--</form>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->

<!--<%&#45;&#45;<h><h2>Zmodyfikuj książkę</h2></h>-->
<!--<form action="/all-books" method="get">-->
    <!--Tytuł<p><input type="text" name="title" value="${title}"> </p>-->
    <!--Autor<p><input type="text" name="author" value="${author}"> </p>-->
    <!--Isbn<p><input type="text" name="isbn" value="${isbn}"> </p>-->
    <!--<p><input type="submit" name="Wyślij"> </p>-->

<!--</form> &#45;&#45;%>-->






<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <link rel="stylesheet" type="text/css" href="/views/css/form-style-6.css">
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<div class="form-style-6">
    <h1>Zaloguj się</h1>
    <form action="/LoginServlet" method="post">
    <input type="text" name="user" placeholder="Imię">
    <input type="text" name="pwd" placeholder="Hasło">
    <input type="submit" value="Zaloguj">
</form>
</div>
</body>
</html>

<!--<div class="form-style-6">-->
    <!--<h1>Zmodyfikuj książkę</h1>-->
    <!--<form action="/all-books" method="get">-->
        <!--<input type="text" name="title" value="${title}" placeholder="Title"/>-->
        <!--<input type="text" name="author" value="${author}" placeholder="Author"/>-->
        <!--<input type="text" name="isbn" value="${isbn}" placeholder="Isbn">-->
        <!--<input type="submit" value="Wyślij"/>-->
    <!--</form>-->
<!--</div>-->